{{> header }}
<div style="margin: 0 auto; display: flex; flex-direction: column;">

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;
line-height: 1.6; color: #222;">
  {{{ body }}}
</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;
line-height: 1.6; color: #6a737d;">
 {{> footer }}
 </p>
 </div>

