<strong>GymPoint</strong>

<p>
  <strong>Nome: </strong> {{ name }} <br />
</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
</p>

<p>
  <Strong>Resposta: </Strong> {{ answer }} <br />
</p>


