<strong>GymPoint</strong>
<p>Confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />

  <Strong>Resposta: </Strong> {{ answer }} <br />
  <Strong>Data: </Strong> {{ answer_at }} <br />
  <br />
</p>
